<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout  pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
    </Console>
  </appenders>
  <loggers>
   <logger name="com.webex" level="trace" additivity="false" >
            <appender-ref ref="Console"/>
        </logger>
     <root level="INFO">
      <appender-ref ref="Console"/>
    </root> 
  </loggers>
</configuration>